::selection{
    background-color: #1E5C93;
    color: white;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #1E5C93;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1E5C93;
}

::selection{
    background-color: #1E5C93;
    color: white;
}